html {
    background-image: url('https://kartinki.pics/uploads/posts/2021-07/thumbs/1625917898_48-kartinkin-com-p-serii-kirpich-tekstura-besshovnaya-krasivo-51.jpg'); /* Путь к изображению */
    background-color: #cac9ff;
    background-size: cover; /* Масштабирование на весь экран */
    background-position: center; /* Центрирование */
    /* background-repeat: no-repeat; Отключение повторения */
    color: #35384a;
    height: 100vh; /* Высота во весь экран */
    margin: 0; /* Убираем внешние отступы */
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    font-family: "Comic Sans MS", sans-serif;
    background: #cac9ff;
    font-size: 1.2em;
    width: 98%;
    padding: 1%;
    min-height: 15px;
    border-bottom: 4px solid rgba(120, 108, 202, 0.65);
    position: absolute;
    left: 0;
    top: 0;
}

a:hover {
    color: white;
}

a:active {
    color: #fff;
}

#topButtons button {
    margin-right: 20px;
}

button {
    background-color: rgb(235, 232, 255);
    border: 1px solid rgba(120, 108, 202, 1);
    min-width: 150px;
    border-radius: 8px;
    margin-right: 15px;
    color: #35384a;
    font-weight: bold;
}

button:hover {
    color: #9a98ff;
}

button:active {
    background-color: #d8d5eb;
    color: #fafaff;
}

input[type=text].search {
    border: 2px solid #9a98ff;
    background-color: rgb(235, 232, 255);
    margin-left: 350px;
    font-size: 1em;
    /* border: 2px solid black; */
    border-radius: 5px;
    /* padding: 5px; */
    outline: none;
}

input[type=text].search:focus {border: 2px solid black}

#logo {
    font-size: 1.52em;
    text-decoration: none;
    padding-left: 10px;
}

#login {
    font-family: "Comic Sans MS", sans-serif;
    float: right;
    padding-right: 10px;
    line-height: 40px;
}

#login:hover {
    border-radius: 5px;
    background-color: #9a98ff;
}

#topButtons button {
    margin-right: 20px;
}

body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#productList {
    margin-top: 100px; /* такое наверное колхоз */
    margin-left: 70px;
}

#products-container {
    font-family: "Comic Sans MS", sans-serif;
    display: flex;
    flex-wrap: wrap; /* Чтобы переносились, если не помещаются */
    gap: 20px; /* Расстояние между блоками */
    justify-content: flex-start; /* Выравнивание */
    margin-bottom: 40px; /* Чтобы футер не наезжал */
    margin-left: 30px;
}

#wrapper {
    width: 18.8%; /* 4 блока в строке */
    min-height: 300px;
    border: 3px solid #9a98ff;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #cac9ff;
    /* color: white;  */
}

#wrapper img {
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0 0;
    border-bottom: 3px solid #9a98ff;
}

#titles {
    padding: 0 20px 20px 20px;
}

.status-active {
    color: green;
    font-weight: bold;
}

.status-inactive {
    color: red;
    font-weight: bold;
}

footer {
    background-color: #cac9ff;
    color: #f7f7f7;
    font-size: 1.5em;
    width: 100%;
    min-height: 50px;
    border-top: 4px solid #9a98ff;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    margin: 0;

    /* margin-top: 10px;
    padding-bottom: 2%; */
}

footer img {
    float: right;
    width: 1.3%;
    padding: 10px;

}

footer img:hover {
    border: 2px solid #cac9ff;
}
