<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Подключение CSS -->
    <title>Category List</title>
</head>
<body>
<h1>Category List</h1>

<!-- Кнопка для создания новой категории -->
<button onclick="location.href='/categories/admin/create'">Create New Category</button>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Цикл для отображения категорий -->
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}">1</td>
        <td th:text="${category.name}">Category Name</td>
        <td th:text="${category.description}">Category Description</td>
        <td>
            <!-- Ссылки на редактирование и удаление -->
            <a th:href="@{/categories/admin/{id}/edit(id=${category.id})}">Edit</a> |
            <a th:href="@{/categories/admin/{id}/delete(id=${category.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<button onclick="location.href='/products/list'">Back to Product List</button>

<!-- Пагинация -->
<div id="pagination">
    <button th:each="i : ${#numbers.sequence(1, totalPages)}"
            th:text="${i}"
            th:onclick="'location.href=/categories/list?page=' + (i - 1)"
            type="button">1
    </button>
</div>

</body>
</html>
