<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
    <link rel="icon" href="/static/favicon.png" type="image/png">
</head>
<body>
<h1>Create New Category</h1>

<!-- Форма для создания категории -->
<form th:action="@{/categories/admin/created}" th:object="${categoryRequest}" method="post">
    <div>
        <label for="name">Category Name</label>
        <input type="text" id="name" th:field="*{name}" placeholder="Enter category name" required>
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" th:field="*{description}" placeholder="Enter category description"></textarea>
    </div>
    <div>
        <button type="submit">Create Category</button>
    </div>
</form>

<button onclick="location.href='/categories/list'">Back to Category List</button>

</body>
</html>
