<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/static/favicon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Category</title>
</head>
<body>
<h1>Delete Category</h1>

<p>Are you sure you want to delete the category <strong th:text="${category.name}"></strong>?</p>

<form th:action="@{/categories/{id}/delete(id=${category.id})}" method="post">
    <input type="hidden" name="_method" value="delete"> <!-- Для имитации DELETE запроса -->
    <button type="submit">Yes, Delete</button>
</form>

<button onclick="location.href='/categories/list'">No, Back to Category List</button>

</body>
</html>
