<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Updated</title>
</head>
<body>

<h1>Product Updated Successfully</h1>
<p><strong>Name:</strong> <span th:text="${product.name}"></span></p>
<p><strong>Description:</strong> <span th:text="${product.description}"></span></p>
<p><strong>Price:</strong> <span th:text="${product.price}"></span></p>
<p><strong>Category:</strong> <span th:text="${product.categoryName}"></span></p>

<!-- Отображение изображения -->
<p><strong>Image:</strong></p>
<img th:src="@{/products/{id}/image(id=${product.id})}" alt="Preview" style="max-width: 300px; display: block;">


<p><strong>Status:</strong> <span th:text="${product.status}"></span></p>

<button onclick="location.href='/products/list'">Back to Products List</button>

</body>
</html>

